In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df =pd.read_csv('athlete_events.csv')
region_df=pd.read_csv('noc_regions.csv')

In [ ]:
df.tail()

In [4]:
df.shape

(271116, 15)

In [11]:
df=df[df['Season'] == 'Summer']

In [12]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [7]:
region_df.tail()

     NOC    region        notes
225  YEM     Yemen          NaN
226  YMD     Yemen  South Yemen
227  YUG    Serbia   Yugoslavia
228  ZAM    Zambia          NaN
229  ZIM  Zimbabwe          NaN

In [8]:
df.merge(region_df,on='NOC', how='left')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [9]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [10]:
df['region'].unique()

KeyError: 'region'

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Medal'].value_counts()

In [ ]:
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [ ]:
df.shape

In [ ]:
df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index().head(25)

In [ ]:
df[(df['NOC']=='IND') & (df['Medal']=='Gold')]

In [ ]:
medal_tally =df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])

In [ ]:
medal_tally=medal_tally.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [ ]:
medal_tally['total']=medal_tally['Gold']+medal_tally['Silver']+medal_tally['Bronze']

In [ ]:
medal_tally

In [ ]:
years=df['Year'].unique().tolist()

In [ ]:
years.sort()

In [ ]:
years.insert(0,'Overall')

In [ ]:
years

In [ ]:
country=np.unique(df['region'].dropna().values).tolist()

country.sort()

In [ ]:
country.insert(0,'Overall')

In [ ]:
country

In [ ]:
def fetch_medal_tally(df,year,country):
    medal_df =df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])
    if year == 'Overall' and country == 'Overall':
        temp_df = medal_df
    if year == 'Overall' and country != 'Overall':
        flag=1
        temp_df = medal_df[medal_df['region'] == 'India'] 
    if year != 'Overall' and country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == 2016]
    if year != 'Overall' and country != 'Overall':
        temp_df =medal_df[(medal_df['Year'] == 2016) & (medal_df['region'] =='India')]
        
    if flag==1:   
        x=temp_df.groupby('Year').sum()[['Gold','Silver','Bronze']].sort_values('Year').reset_index()
    else:
        x = temp_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',
 ascending=False).reset_index()
    x['total']=  x['Gold']+  x['Silver']+  x['Bronze']
    
    print(x)

In [ ]:
fetch_medal_tally(year= "Overall",country= "Overall")

In [ ]:
medal_df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])

# Overall Analysis
1-No. Of editions
2-No. of Cities
3- No. of events/sports
4-No. of athelets
5-partcipating nation

In [ ]:
df['Year'].unique().shape

In [ ]:
df['City'].unique()

In [ ]:
df['Sport'].unique()

In [ ]:
df['Event'].unique().shape

In [ ]:
df['Name'].unique().shape

In [ ]:
df['region'].unique().shape

In [ ]:
# participating Nation over time
df.head()

In [ ]:
nations_over_time =  df.drop_duplication(['Year','region '])['Year'].value_counts().reset_index().sort_values(index)

In [ ]:
nations_over_time(columns=('Index':'Edition','Year':'No of Countries'),inplace=True)

In [ ]:
pip install ploty

In [ ]:
import ploty.express as px

In [ ]:
fig=px.line(nation_over_time, x="edition" ,y="No. Of . Countries")
fig.show()

In [ ]:
x=df.drop_duplicates(['Year', 'Sport','Event'])

In [ ]:
import seaborn as sns
plt.figure(figsize(20,20))
sns.heatmap(x.pivot_table(index 'Sport', columns='Year',values'Event', aggfunc='count').fillna(0).astype('int'), annot=True)

In [ ]:
df.dropna(subset=['Medal'])

In [ ]:
def most_sucessful(df,sport):
    temp_df=df.dropna(subset=['Medal'])
    if sport != 'Overall':
       temp_df=temp_df[temp_df['Sport'] == sport]
    x=temp_df['Name'].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name', how='left')[['index','Name_x','Sport', 'Region']].drop_duplicates('Index')
    x.rename(columns={'index':'Name_x':'Medals'},inplace=True)

In [ ]:
most_sucessful(df,'Overall')

# Country Wise Analysis
1- Country wise medal tall per year
2-what country are good to heatmap
3- most sucessful athletes(top10)

In [ ]:
temp_df=df.dropna(subset=['Medal'])
temp_df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'],inplace=True)

In [ ]:
new_df=temp_df[temp_df['region'] =='India']
new_df.groupby('Year').count()['Medal'].reset_index()

In [ ]:
fig=px.line(final_df, x="Edition" ,y="No. Of . Countries")
fig.show()

In [ ]:
new_df=temp_df[temp_df['region'] =='India']
plt.figure(figsize=(20,20))
sns.heatmap(new_df=pivot_table(index='Sport', columns='Year',values='Medal',aggfunc='count').fillna(0), annot=True)

In [ ]:
most_sucessful(df,country):
    temp_df=df.dropna(subset=['Medal'])
    
    temp_df=temp_df[temp_df['region'] == country]
    x=temp_df['Name'].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name', how='left')[['index','Name_x','Sport', 'Region']].drop_duplicates('Index')
    x.rename(columns={'index':'Name_x':'Medals'},inplace=True)

In [ ]:
most_sucessful(df,'India')

In [ ]:
import plotly.figure_factory as ff

In [ ]:
athlete_df=df.drop_duplicates(subset=['Name', 'region'])

In [ ]:
 x1 = athlete_df['Age'].dropna()
    x2 = athlete_df[athlete_df['Medal'] == 'Gold']['Age'].dropna()
    x3 = athlete_df[athlete_df['Medal'] == 'Silver']['Age'].dropna()
    x4 = athlete_df[athlete_df['Medal'] == 'Bronze']['Age'].dropna()

In [ ]:
fig=ff.create_displot([athlete_df['Age'].dropna()],['Age Distribution'],show_hist=False,show_rug=False)
fig.show()

In [ ]:
x1 = []
name=[]
for sport in famous sports:
  temp_df=athlete_df[athlete_df['Sport']==sport]
  x.append(temp_df[temp_df['Medal'] =='Gold']['Age'].dropna())

In [ ]:
fig=ff.create_displot(x,name,show_hist=False,show_rug=False)
fig.show()